

/*Colours used throughout Game*/
:root{
    --page-background : antiquewhite;
    --game-board-background : rgb(165, 129, 82);
    --game-board-value-background : rgb(210, 183, 149);
    --game-board-value-text-colour: rgb(245, 243, 241)
}

body{
    background-color: var(--page-background);
}

/* Game container holds whole board. 
   Created a flex box with its content moved to newline
   if the space is not enough. 
*/
.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: var(--game-board-background);
}

.game-container div{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid rgb(220, 184, 140);
    background-color: var(--game-board-value-background);
    font-size: xx-large;
    text-align: center;
    color:var(--game-board-value-text-colour);
    font-weight: bold;

}

.game-container #game-status-container{
    background-color: var(--game-board-background);
    display: none;
    width: 500px;
    font-weight: bold;
    height: 500px;
    text-align: center;
    line-height: 500px;
}

.game-header{
    color:var(--game-board-background);
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
}

.score{
    color: var(--game-board-value-text-colour);
}

.score-container{
    background-color: var(--game-board-background);
    color: var(--game-board-value-text-colour);
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
}
