body{
    background-color: antiquewhite;
}


/* Game container holds whole board. 
   Created a flex box with its content moved to newline
   if the space is not enough. 
*/
.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(165, 129, 82);
}

.game-container div{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid rgb(220, 184, 140);
    background-color: rgb(210, 183, 149);
    font-size: xx-large;
    text-align: center;
    color: rgb(245, 243, 241);
    font-weight: bold;

}

.game-container #game-status-container{
    background-color: rgb(165, 129, 82);
    display: none;
    width: 500px;
    font-weight: bold;
    height: 500px;
    text-align: center;
    line-height: 500px;
}

.game-header{
    color: rgb(165, 129, 82);
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
}

.score{
    color: rgb(245, 243, 241);
}

.score-container{
    background-color: rgb(165, 129, 82);
    color: rgb(245, 243, 241);
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
}
